@use './../../styles/mixins';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: none;
  cursor: pointer;

  &_fullwidth {
    max-width: none !important;
    width: 100% !important;
  }

  &_primary {
    height: 64px;
    max-width: 396px;
    width: 100%;
    @include mixins.title-2;
    background: var(--orange);
    border-radius: 16px;



    &:hover {
      background: var(--orange-light);
    }

    &:active {
      background: var(--orange-dark);
    }
  }

  &_secondary {
    font-family: var(--font-roboto);
    padding: 11px 26px;
    border-radius: 24px;
    background: var(--blue);
    @include mixins.text;

    &:hover {
      background: var(--blue-light);
    }
    &:active {
      background: var(--blue-dark);
    }
  }

}


