:root {
  --blue: #0358ea;
  --blue-light: #82A9EEFF;
  --blue-dark: #0358EAFF;
  --orange: #ef4a02;
  --orange-light: #FF8317;
  --orange-dark: #EF4A02FF;
  --black: #2B2B2B;
  --grey: #646464;
  --grey-light: #F8F8F8;
  --white: #FFFFFF;
  --font-roboto: Roboto, serif;

}

